body{
    font-family: 'Kumbh Sans', sans-serif;
}
/* ======== CONTAINER ========== */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

}
.container{
    background-color: white;
}

/* ========  PHOTO ========= */
h1{
    font-size: 18px;
    font-weight: 700;
}
.text-age{
    font-weight: 700;
}

/* =========== ul -========== */

.list{ 
    display: flex;
    justify-content: center;
    gap: 40px;
    min-width: 328px;
}

.list .stats{
    font-size: 18px;
    font-weight: 700;
    /* background-color: red; */
    /* border: 1px solid black; */
    text-align: center;
    width: 50px;

}

.list .stats .text{
    font-weight: 400;
    color: var(--text-color);
    /* color: red; */
    font-size: 11px;


}