body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--background-color);
}
h1{
    font-size: 18px;
    font-weight: 700;
}
.stats{
    font-size: 18px;
    font-weight: 700;
}
.text-age{
    font-weight: 700;
}
.text{
    font-weight: 400;
    color: var(--text-color);
}